@model IEnumerable<InterviewExam.Models.RecyclableItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    <h1>Welcome to Recycling App!</h1>
    <p class="lead">Manage your recyclable items with ease.</p>
</div>

<a href="../Views/Home/RecyclabeType.cshtml">adfsas</a>
<a>fasdfad</a>